
<table class="event">
      <tbody>
        <tr>
          <td>*Title</td>
          <td>:</td>
          <td  class="green event-name">Parallel Computing By Microsoft</td>
        </tr>
        <tr>
          <td>*Description</td>
          <td>:</td>
          <td class="grey2 event-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea labore, doloribus. Nesciunt beatae, error quo laborum nemo blanditiis, amet facere suscipit exercitationem, rerum placeat dolore et. Dolorum nemo, officiis architecto! </td>
        </tr>
        <tr>
          <td>*Rules</td>
          <td>:</td>
          <td class="grey2 event-rules">Individual only</td>
        </tr>
        <tr>
          <td>*Contact</td>
          <td>:</td>
          <td class="grey2 event-contact">Individual only</td>
        </tr>
      </tbody>
    </table>