<p class="inp-name">Name: <input type="text" name="name" value="" class="inp-name-field" onblur="this.focus()" autofocus maxlength="25"></p>
<p class="inp-email">email: <input type="text" name="email" value="" class="inp-email-field" onblur="this.focus()" autofocus maxlength="25"></p>
<p class="inp-password">Passowrd: <input type="password" name="password" value="" class="inp-password-field" onblur="this.focus()" autofocus maxlength="15"></p>
<p class="inp-collegeName">College_Name: <input type="collegeName" name="collegeName" value="" class="inp-collegeName-field" onblur="this.focus()" autofocus maxlength="15"></p>
<p class="inp-year">Year: <input type="text" name="year" value="" class="inp-year-field" onblur="this.focus()" autofocus maxlength="15"></p>
<p class="inp-mobile">Mobile: +91- <input type="text" name="year" value="" class="inp-mobile-field" onblur="this.focus()" autofocus maxlength="10"></p>