
<table class="workshop">
      <tbody>
        <tr>
          <td>*Title</td>
          <td>:</td>
          <td  class="green workshop-title">Parallel Computing By Microsoft</td>
        </tr>
        <tr>
          <td>*Description</td>
          <td>:</td>
          <td class="grey2 workshop-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea labore, doloribus. Nesciunt beatae, error quo laborum nemo blanditiis, amet facere suscipit exercitationem, rerum placeat dolore et. Dolorum nemo, officiis architecto! </td>
        </tr>
        <tr>
          <td>*Fee</td>
          <td>:</td>
          <td class="blue workshop-fee">Rs. 500/- <span style="float:right;"> <a href="#" target="_blank" class="blue">Click to Register</a></span></td>
        </tr>
        <tr>
          <td>*Conducted by</td>
          <td>:</td>
          <td class="blue2 workshop-by">MICROSOFT</td>
        </tr>
        <tr>
          <td>*Time</td>
          <td>:</td>
          <td class="orange"><span class"workshop-time">09:30</span> &nbsp  <span class="workshop-date">26-02-2015</span></td>
        </tr>
        <tr>
          <td>*Members</td>
          <td>:</td>
          <td class="grey2 workshop-member">Individual only</td>
        </tr>
        <tr>
          <td>*Contact</td>
          <td>:</td>
          <td class="grey2 workshop-contact">Individual only</td>
        </tr>
      </tbody>
    </table>